<br />
<div class="card">
  <div class="card-body">
      <center>
        <h5 class="card-title">Total de aprobados: @ViewBag.totalAprobados</h5>
        <br />
        <h5 class="card-subtitle mb-2 text-muted">Total de reprobados: @ViewBag.totalReprobados</h5>
        </center>
        <br />
        <center>
        <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" asp-area="" asp-controller="AreaDeTrabajo" asp-action="VistaProfesor"
           role="button">
            <i class="fab fa-facebook-f me-2"></i>Regresar
        </a>
        </center>
</div>

    
